anyio==4.15.1
click==8.5.0
h11==0.16.0
httptools==0.8.0
idna==3.19
psycopg==3.3.5
psycopg-binary==3.3.5
python-dotenv==1.2.3
PyYAML==6.0.3
typing_extensions==4.16.0
uvicorn==0.52.4
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.1
